<!DOCTYPE html>
<html>
  <head>
    <title>Salesforce Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><rect x='4' y='20' width='4' height='8' fill='%233498db'/><rect x='10' y='14' width='4' height='14' fill='%232ecc71'/><rect x='16' y='10' width='4' height='18' fill='%23f39c12'/><rect x='22' y='16' width='4' height='12' fill='%23e74c3c'/></svg>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div id="react-root"></div>
  </body>
</html>
